name: Metrics
on:
  # Schedule daily updates (Midnight IST)
  schedule: [{cron: "30 18 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: Ashwani1330
          base: header, activity, repositories, metadata
          config_timezone: Asia/Kolkata
          repositories_skipped: Ashwani1330
          optimize: svg
          experimental_features: --optimize-svg
          
          # --- PLUGINS ---

          # 1. Isometric Calendar (Full Year)
          #plugin_isocalendar: yes
          #plugin_isocalendar_duration: full-year
          
          # 2. Languages (Default Colors)
          plugin_languages: yes
          plugin_languages_ignored: html, css, shell, hlsl, shaderlab
          plugin_languages_limit: 8
          
          
          # 3. Lines of Code History
          plugin_lines: yes